@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

/* Hide scrollbar in WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: none; /* Hides the scrollbar */
}

/* Ensure scrolling functionality on the page */
html {
  overflow: scroll; /* Allow scrolling but hide the scrollbar */
}





